!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/2bd93a793c.js"}
  %body
    .wrapper
      = render "side_var"
      = render "main_chat"
      
