@import "font-awesome-sprockets";
@import "./font-awesome";
@import "user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";  
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  $contents-color: white;
  $main-length: 100px;
  $sub-length: 40px;
  @mixin font {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  margin: 0;
  .wrapper {
    height: 100%;
    display: flex;
    @import "chat-side";
    
    @import "chat-main";
      
  } 
}